### Airbnb Dataset Synthesis

This notebook shows a usage example over a sample of the Airbnb New User Bookings dataset
available on Kaggle: https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings

Before running this notebook, make sure to having downloaded the data and run the
`Airbnb Dataset Sampling` notebook which can be found in the same folder as this one.

In [1]:
from sdv import SDV

sdv = SDV()
sdv.fit('metadata.json')

2019-10-25 09:31:35,086 - INFO - modeler - Modeling users
2019-10-25 09:31:35,087 - INFO - metadata - Loading table users
2019-10-25 09:31:35,164 - INFO - modeler - Modeling sessions
2019-10-25 09:31:35,164 - INFO - metadata - Loading table sessions
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/pandas/core/frame.py:7143: RuntimeWarning: Degrees of freedom <= 0 for slice
  baseCov = np.cov(mat.T)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)
/home/xals/.virtualenvs/SDV/lib/python3.6/site-packages/numpy/lib/function_base.py:2451: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
2019-10-25 09:31:39,420 - INFO - modeler - Modeling Complete

In [2]:
real = sdv.metadata.get_tables()

2019-10-25 09:31:40,786 - INFO - metadata - Loading table users
2019-10-25 09:31:40,800 - INFO - metadata - Loading table sessions

In [3]:
real['users'].sample(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
106,106,2012-04-29,2012-04-29 18:50:24,NaT,FEMALE,34.0,facebook,0,en,sem-non-brand,google,linked,Web,Mac Desktop,Safari,NDF
574,574,2013-09-06,2013-09-06 07:39:07,NaT,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF
405,405,2012-07-30,2012-07-30 04:27:06,2012-08-02,FEMALE,34.0,facebook,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,other
719,719,2013-05-30,2013-05-30 02:31:30,NaT,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari,NDF
184,184,2014-05-08,2014-05-08 00:16:56,NaT,-unknown-,NaN,basic,25,en,direct,direct,untracked,iOS,iPhone,-unknown-,NDF

In [4]:
real['sessions'].sample(5)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
9462,879,show,NaN,NaN,Mac Desktop,101.0
7773,66,personalize,data,wishlist_content_update,Mac Desktop,621.0
7903,518,update,submit,update_listing,Mac Desktop,18120.0
6037,419,show,view,p3,iPad Tablet,48571.0
19393,894,show,view,p3,Mac Desktop,304.0

In [5]:
length = len(real['users'])

In [6]:
length

1000

In [7]:
samples = sdv.sample_all(length, reset_primary_keys=True)

In [8]:
samples['users'].sample(5)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
470,470,2013-02-10 20:32:41.945200896,2013-02-17 14:05:42.403436800,NaT,FEMALE,40.0,basic,0,en,sem-non-brand,google,linked,Web,Windows Desktop,Safari,NDF
154,154,2013-08-01 15:42:46.074643712,2013-08-03 03:55:01.173034240,2013-07-11 10:03:57.218265600,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US
428,428,2014-04-01 16:15:02.327075840,2014-03-25 22:43:27.024070144,NaT,FEMALE,80.0,basic,0,en,direct,direct,untracked,Web,Windows Desktop,Firefox,NDF
126,126,2014-05-19 03:46:13.495066368,2014-05-12 11:52:21.543556352,2013-10-31 08:26:03.453202176,-unknown-,28.0,basic,0,en,direct,direct,untracked,Web,Windows Desktop,-unknown-,US
370,370,2012-08-26 10:51:29.495285760,2012-09-09 03:00:24.457631488,NaT,MALE,58.0,basic,0,en,direct,direct,linked,Web,Windows Desktop,Firefox,NDF

In [9]:
samples['sessions'].sample(5)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
27643,727,personalize,data,-unknown-,Android Phone,-101953.0
1688,43,personalize,data,view_search_results,Mac Desktop,54437.0
4312,115,index,data,view_search_results,Mac Desktop,12274.0
15312,398,search_results,click,NaN,Windows Desktop,31299.0
6322,162,personalize,data,p3,Mac Desktop,-24181.0